.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-badge {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 100px;
    height: auto;
}

.banner-badge img {
    width: 100%;
}

.banner-play {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 220px;
    width: 356px;
    height: 76px;
    background: url('../asset/play-bg.png');
    background-position: center;
}

.banner-play-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}

.banner-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background: url('../asset/play-inner.png') no-repeat;
    background-size: 100%;
    background-position: center 0;
    opacity: 1;
}

.banner-play-inner:hover {
    background: transparent !important;
}

.banner-play-inner:hover .banner-play-btn {
    background-position: center -28px;
}

.banner-download {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    width: 540px;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-qrcode {
    width: 102px;
    height: 102px;
    background: url('../asset/d-qrcode.png');
    text-align: center;
    line-height: 125px;
}

.banner-qrcode img {
    width: 30px;
    height: 30px;
    border: 2px solid #475e7d;
    border-radius: 4px;
}

.banner-download-center-left a,
.banner-download-center-right a {
    width: 160px;
    height: 52px;
}

.banner-download-center-left,
.banner-download-center-right {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.banner-download-center-left img,
.banner-download-center-right img {
    height: 100%;
    width: 100%;
}

.banner-download-pc {
    width: 102px;
    height: 102px;
    background: url('../asset/d-pc.png');
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    width: 25px;
    height: 45px;
}

.arrow span {
    display: block;
    width: 25px;
    height: 15px;
    background: url('../asset/arrow.png') no-repeat;
    background-size: 100%;
    opacity: 1;
    animation: arrow 1.5s infinite linear;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    70% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.arrow span:nth-child(1) {
    animation-delay: 0;
}

.arrow span:nth-child(2) {
    animation-delay: 0.4s;
}

.arrow span:nth-child(3) {
    animation-delay: 0.8s;
}

.banner-download-center-left img:hover,
.banner-download-center-right img:hover {
    opacity: .8;
    border: 2px solid rgba(255, 255, 255, 1);
}