.new {
    position: relative;
    width: 100%;
    height: 910px;
    background: url('../asset/news-bg.jpg');
    background-size: 100% 100%;
    color: #fff;
    border-top: 1px solid transparent;
}

.new-head {
    height: 66px;
    margin: 183px 0 30px 0;
    font-size: 50px;
    text-align: center;
    line-height: 66px;
}

.new-head img {
    width: 322px;
    height: 14px;
    vertical-align: middle;
    margin-right: 40px;
}

.new-head img:last-child {
    width: 322px;
    height: 14px;
    transform: rotateY(180deg);
    margin-left: 40px;
}

.new-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1280px;
    height: 400px;
}

.new-lp {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 400px;
    background-color: aqua;
    overflow: hidden;
}

.new-lp-img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 2560px;
    height: 400px;
    display: flex;
    transition: .3s;
}

.new-lp-img img {
    flex: 1 0 640px;
    cursor: pointer;
}

.new-content-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 640px;
    height: 400px;
    padding: 0 24px;
    background: rgba(38, 18, 12, .62);
}

.new-content-nav {
    font-size: 18px;
    margin-top: 35px;
    border-bottom: 3px solid rgba(255, 255, 255, .1);
    display: flex;
}

.new-content-nav a {
    position: relative;
    padding: 0 19px 12px 19px;
}

.new-content-nav a.active::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -3px;
    background: #ffd49f;
}

.new-lp-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.new-lp-btn span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .3);
    margin: 0 3px;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.new-lp-btn span.active {
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
}

.new-content-plus {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 23px;
    color: rgba(255, 255, 255, .75);
    display: flex;
    align-items: center;
}

.new-content-plus img {
    margin-right: 20px;
}

.new-content-plus:hover {
    color: rgba(255, 212, 159, .75);
}

.new-content-right ul {
    display: none;
}

.new-content-right li {
    height: 52px;
    font-size: 14px;
    color: rgba(255, 255, 255, .9);
    padding: 0 11px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-content-right li:hover {
    background: rgba(255, 212, 159, 0.06);
}

.new-content-right li a {
    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}